dia_16/venv/lib/python3.8/site-packages/PyYAML-5.4.1.dist-info/
dia_16/venv/lib/python3.8/site-packages/_yaml/
dia_16/venv/lib/python3.8/site-packages/turtle-0.0.1-py3.8.egg-info/
dia_16/venv/lib/python3.8/site-packages/turtle/
dia_16/venv/lib/python3.8/site-packages/yaml/